SECFDI.KitDesarrollo/Service References/WCFCertificar/Certificar.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Certificar" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wcfpruebas.facturoporti.com.mx/Certificar/Servicios.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wcfpruebas.facturoporti.com.mx/Certificar/Servicios.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wcfpruebas.facturoporti.com.mx/Certificar/Servicios.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SECFDI.WCFLibCertificar" />
      <xsd:import schemaLocation="http://wcfpruebas.facturoporti.com.mx/Certificar/Servicios.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICertificar_Autenticar_InputMessage">
    <wsdl:part name="parameters" element="tns:Autenticar" />
  </wsdl:message>
  <wsdl:message name="ICertificar_Autenticar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutenticarResponse" />
  </wsdl:message>
  <wsdl:message name="ICertificar_TimbradoMultiEmpresas_InputMessage">
    <wsdl:part name="parameters" element="tns:TimbradoMultiEmpresas" />
  </wsdl:message>
  <wsdl:message name="ICertificar_TimbradoMultiEmpresas_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimbradoMultiEmpresasResponse" />
  </wsdl:message>
  <wsdl:message name="ICertificar_CancelarCFDIMultiEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelarCFDIMultiEmpresa" />
  </wsdl:message>
  <wsdl:message name="ICertificar_CancelarCFDIMultiEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelarCFDIMultiEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="ICertificar_GeneraCFDI_InputMessage">
    <wsdl:part name="parameters" element="tns:GeneraCFDI" />
  </wsdl:message>
  <wsdl:message name="ICertificar_GeneraCFDI_OutputMessage">
    <wsdl:part name="parameters" element="tns:GeneraCFDIResponse" />
  </wsdl:message>
  <wsdl:portType name="ICertificar">
    <wsdl:operation name="Autenticar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICertificar/Autenticar" message="tns:ICertificar_Autenticar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICertificar/AutenticarResponse" message="tns:ICertificar_Autenticar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimbradoMultiEmpresas">
      <wsdl:input wsaw:Action="http://tempuri.org/ICertificar/TimbradoMultiEmpresas" message="tns:ICertificar_TimbradoMultiEmpresas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICertificar/TimbradoMultiEmpresasResponse" message="tns:ICertificar_TimbradoMultiEmpresas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelarCFDIMultiEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/ICertificar/CancelarCFDIMultiEmpresa" message="tns:ICertificar_CancelarCFDIMultiEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICertificar/CancelarCFDIMultiEmpresaResponse" message="tns:ICertificar_CancelarCFDIMultiEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GeneraCFDI">
      <wsdl:input wsaw:Action="http://tempuri.org/ICertificar/GeneraCFDI" message="tns:ICertificar_GeneraCFDI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICertificar/GeneraCFDIResponse" message="tns:ICertificar_GeneraCFDI_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICertificar" type="tns:ICertificar">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Autenticar">
      <soap:operation soapAction="http://tempuri.org/ICertificar/Autenticar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimbradoMultiEmpresas">
      <soap:operation soapAction="http://tempuri.org/ICertificar/TimbradoMultiEmpresas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarCFDIMultiEmpresa">
      <soap:operation soapAction="http://tempuri.org/ICertificar/CancelarCFDIMultiEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneraCFDI">
      <soap:operation soapAction="http://tempuri.org/ICertificar/GeneraCFDI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Certificar">
    <wsdl:port name="BasicHttpBinding_ICertificar" binding="tns:BasicHttpBinding_ICertificar">
      <soap:address location="http://wcfpruebas.facturoporti.com.mx/Certificar/Servicios.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>