SECFDI.KitDesarrollo/Service References/WCFCertificar/Servicios2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcfpruebas.facturoporti.com.mx/Certificar/Servicios.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SECFDI.WCFLibCertificar" />
  <xs:element name="Autenticar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SECFDI.WCFLibCertificar" minOccurs="0" name="parametro" nillable="true" type="q1:AutenticarPeticion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutenticarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SECFDI.WCFLibCertificar" minOccurs="0" name="AutenticarResult" nillable="true" type="q2:AutenticarRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimbradoMultiEmpresas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SECFDI.WCFLibCertificar" minOccurs="0" name="parametroSeguridad" nillable="true" type="q3:AutenticarPeticion" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SECFDI.WCFLibCertificar" minOccurs="0" name="parametro" nillable="true" type="q4:TimbrarCFDIPeticion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimbradoMultiEmpresasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SECFDI.WCFLibCertificar" minOccurs="0" name="TimbradoMultiEmpresasResult" nillable="true" type="q5:TimbrarCFDIRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarCFDIMultiEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SECFDI.WCFLibCertificar" minOccurs="0" name="parametroSeguridad" nillable="true" type="q6:AutenticarPeticion" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SECFDI.WCFLibCertificar" minOccurs="0" name="parametro" nillable="true" type="q7:CancelarCFDIPeticion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarCFDIMultiEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SECFDI.WCFLibCertificar" minOccurs="0" name="CancelarCFDIMultiEmpresaResult" nillable="true" type="q8:CancelarCFDIRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneraCFDI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SECFDI.WCFLibCertificar" minOccurs="0" name="parametro" nillable="true" type="q9:GeneraCFDIPeticion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneraCFDIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SECFDI.WCFLibCertificar" minOccurs="0" name="GeneraCFDIResult" nillable="true" type="q10:GeneraCFDIRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>