src/Service References/WCFCertificar/Servicios42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://wcfpruebas.facturoporti.com.mx/Timbrado/Servicios.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SECFDI.WCFTimbrado" />
  <xs:element name="Autenticar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SECFDI.WCFTimbrado" minOccurs="0" name="parametro" nillable="true" type="q1:AutenticarPeticion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutenticarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SECFDI.WCFTimbrado" minOccurs="0" name="AutenticarResult" nillable="true" type="q2:AutenticarRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarCFDICualquierPAC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SECFDI.WCFTimbrado" minOccurs="0" name="parametroSeguridad" nillable="true" type="q3:AutenticarPeticion" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SECFDI.WCFTimbrado" minOccurs="0" name="parametro" nillable="true" type="q4:CancelarCFDIPACPeticion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarCFDICualquierPACResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SECFDI.WCFTimbrado" minOccurs="0" name="CancelarCFDICualquierPACResult" nillable="true" type="q5:CancelarCFDIRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimbradoMultiEmpresas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SECFDI.WCFTimbrado" minOccurs="0" name="parametroSeguridad" nillable="true" type="q6:AutenticarPeticion" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SECFDI.WCFTimbrado" minOccurs="0" name="parametro" nillable="true" type="q7:TimbrarCFDIPeticion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimbradoMultiEmpresasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SECFDI.WCFTimbrado" minOccurs="0" name="TimbradoMultiEmpresasResult" nillable="true" type="q8:TimbrarCFDIRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApiTimbrarCFDI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SECFDI.WCFTimbrado" minOccurs="0" name="cfdi" nillable="true" type="q9:CFDIPeticion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApiTimbrarCFDIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SECFDI.WCFTimbrado" minOccurs="0" name="ApiTimbrarCFDIResult" nillable="true" type="q10:GeneraCFDIApiRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApiCancelarCFDI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SECFDI.WCFTimbrado" minOccurs="0" name="cfdi" nillable="true" type="q11:CancelarApiCFDIPeticion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApiCancelarCFDIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SECFDI.WCFTimbrado" minOccurs="0" name="ApiCancelarCFDIResult" nillable="true" type="q12:CancelarCFDIRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApiConsultaEstatusCFDI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SECFDI.WCFTimbrado" minOccurs="0" name="parametro" nillable="true" type="q13:ConsultaEstatusPeticion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApiConsultaEstatusCFDIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SECFDI.WCFTimbrado" minOccurs="0" name="ApiConsultaEstatusCFDIResult" nillable="true" type="q14:ConsultaEstatusRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApiConsultaTimbresRestantes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SECFDI.WCFTimbrado" minOccurs="0" name="parametro" nillable="true" type="q15:ConsultaTimbresRestantesPeticion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApiConsultaTimbresRestantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SECFDI.WCFTimbrado" minOccurs="0" name="ApiConsultaTimbresRestantesResult" nillable="true" type="q16:ConsultaTimbresRestantesRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>